<!DOCTYPE HTML>
<html>
<head>

   <title>Main Page</title>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <link rel="stylesheet" th:href="@{/style.css}" type="text/css" />
   
</head>
	<body>
	
		<h3 class="h1">Main Page</h1>
	
		<div>
			<h3 class="h1">Add Purchase</h1>
		</div>
	   
	  	<div>
			<a href="/addPurchase" >Add Purchase</a>
		</div>
		
		
		<div>
			<h3 class="h1">All Purchases</h1>
		</div>
	   
	  	<div>
			<a href="/allPurchases" >All Purchases</a>
		</div>
		
		
	   
	  	<div>
			<a href="/login" >Login</a>
		
			<a href="/registration" >Registration</a>
			
			<a href="/logout" >Logout</a>
		</div>
		
		
	 
		
	  
	   
	</body>
</html>