<!DOCTYPE HTML>
<html>
	<head>
	   <title>Login</title>
	   
	 
	   <link href="../static/styles.css" th:href="@{/styles.css}" rel="stylesheet" />
	</head>
	
	<body>	
	
	   <h1 th:text="|LOGIN ${my_param}|" ></h1>
	   
	  
	   <form action="#" th:action="@{/login}" th:object="${myUser}" method='POST'>
	   
	   		<input  th:name="email"> <span>Email</span>
		  	<br/>
	   
			<input th:name="password"/> <span>Password</span>
		  	<br/>
		    
		   <input type='submit' value='Login' />		   
		   
	   </form>
	   
	</body>
</html>